extends ../layouts/main_layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")

block content   
    main    
        if prods.length > 0
            .grid
                each product in prods
                    - var pImage = product.image;
                    - var pId = product._id;
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src=pImage)
                        .card__content
                            h2.product__price $#{product.price}
                            p.product__description #{product.description}
                        .card__actions
                            a.btn(href="/products/" + pId) Details
                            form(action="/cart", method="POST")
                                button.btn(type="submit") Add To Cart
                                input(type="hidden", name="productId", value=pId)
        else
            h1 No Products