extends ../layouts/main_layout.pug

block styles

block content   
    main.centered    
        h1 #{product.title}
        hr
        .image
            - var image = product.image;
            - var pId = product.id;
            img(src=image, alt="")
        h2 $#{product.price}
        p #{product.author}
        if(isAuthenticated)
            form(action="/cart", method="POST")
                input(type="hidden", name="_csrf", value=csrfToken)
                button.btn(type="submit") Add To Cart
                input(type="hidden", name="productId", value=pId)