extends ../layouts/main_layout.pug

block styles

block content   
    main.centered    
        h1 #{product.title}
        hr
        .image
            - var image = product.image;
            - var pId = product.id;
            img(src=image, alt="")
        h2 $#{product.price}
        p #{product.description}
        form(action="/cart", method="POST")
            button.btn(type="submit") Add To Cart
            input(type="hidden", name="productId", value=pId)